<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true"  id="open-modal" name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="dashboard" href="/tabs/dashboard">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contracts" href="/tabs/contracts">
      <ion-icon aria-hidden="true" name="document"></ion-icon>
      <ion-label>Contracts</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="customers" href="/tabs/customers">
      <ion-icon aria-hidden="true" name="people"></ion-icon>
      <ion-label>Customers</ion-label>
    </ion-tab-button>

    
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-searchbar placeholder="Search" (click)="modal.setCurrentBreakpoint(0.75)"></ion-searchbar>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
       
      <ion-list>
        <ion-item>
          <ion-tab-button  href="/settings/settings">
            <div style="display: flex;">
              <div><ion-icon name="accessibility"></ion-icon></div>
              <div><ion-label>User Account</ion-label></div> 
            </div>
          </ion-tab-button>
        </ion-item>

        <ion-item>
          <div style="display: flex;">
            <div><ion-icon name="time-outline"></ion-icon></div>
            <div><ion-label>Timeline</ion-label></div> 
          </div>
        </ion-item>

      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>