.main{
    height: 100vh;
    background-color: #316fe8;
    text-align: center;
    color: #fff;
}
ion-input{
    padding: 6px 8px !important;
    margin-top: 6px !important;
    background: #fff;
    color: #000!important;
    border-radius: 8px;
    text-align: left !important;
}
.login-img{
    width: 500px;
    height: 500px;
    object-fit: contain;
}
