<ion-content [fullscreen]="true">
    <div class="main">
   
        <img class="login-img" src="assets/people-waiting-job-interview.png">

        <h1>Welcome back</h1>
        <p>Login to your account</p>

        <div class="ion-padding">
            <ion-input label="Email" type="email" value="janedoe001@gmail.com"></ion-input>
            <ion-input label="Password" type="password" value="password"></ion-input>
        </div>
        
        <ion-button (click)="logIn()">Login</ion-button>
    </div>
</ion-content>
