.main{
    background-color: #f4f5f9;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 15px 0px;
}
.bg-img{
    text-align: center;
    display:inline-block;
    position: relative;
}
.bg-img > img{
    border-radius: 50%;
    width:200px;
    height:200px;
    display: block;
}
.edit-icon {
    position: absolute;
    bottom: 57px;
    right: 12px;
    font-size: 24px;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
h6, p {
    margin: 5px 0 0; 
}